/* advertise list-style */
.ad-list li{
	border:1px solid #ddd;
}
.add-btn-wrap{
	margin-bottom:30px;
	text-align:right;
}
.ad-list li .image {
	position:relative;
	top: 30px;
	width:100%;
	overflow:hidden;
}
.ad-list li .image img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.ad-list .txt-div {
    margin-left:20px;
}
.ad-list .list-tit{
	font-size:25pt;
	font-weight:bold;
}
.ad-list .ect {
    text-align: right;
    font-size: 11pt;
    color: #999;
    margin-right:20px;
}
/* advertise detail-style */
.ad-div .detailbtn{
	text-align:right;
	margin-top:20px;
}
.ad-div .infoAll .table {
	table-layout:auto;
}
.ad-div .infoAll .table td.profile-td {
	width:80px;
}
.ad-div .infoAll .tabel .nick{
	width:calc(100% - 80px);
	font-size:25px;
}
.ad-div .infoAll .table .profile{
	margin-right:20px;
}
.ad-div .infoAll .info-sm {
	text-align:right;
}
.ad-div .infoAll .info-sm .info-sm-div {
	float:none;
	display:inline-block;
	width:auto;
	padding:0;
	margin-left:10px;
}
.ad-div .infoAll .info .info-sm div.comment{
	background-image: url("/image/comment-icon.png");
	background-position:left center;
}
.info-sm div.read, .list-info-sm div.read{
	background-image: url("/image/eye-icon.png");
	background-position:left center;
}
.ad-div .content-detail-div{
	border:1px solid #ddd;
	margin-top:20xp;
	margin-bottom:20px;
	border-radius:5px;
	min-height:250px;
	width:100%;
}
.ad-div .content-detail-div .detailContent{
	border:0px;
	margin:0px;
	height:auto;
}
.ad-div .img-detail-div .content-img{
	border:1px solid #ddd;
	margin-bottom:20px;
	margin-top:10px;
	border-radius:5px;
}
.ad-div .img-detail-div .content-img img{
	margin:20px;
	border:1px solid #ddd;
	width:600px;
}
.ad-div .img-detail-div{
	margin-bottom:10px;
}
.ad-div .img-detail-view{
	color:#999;
}
.ad-div .info .ad-tit{
	font-size:25pt;
	font-weight:bold;
	color:#333;
}
.ad-div .infoAll .info .table .profile {
	position:relative;
	display:inline-block;
	width:70px;
	height:70px;
	margin-right:10px;
	border-radius:100%;
	border:2px solid #f7f6fc;
	overflow:hidden;
	vertical-align:top;
}
.ad-div .infoAll .info .table .profile .profileImg{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}
/* detail-reply */
.ad-div .reply .tit {
	margin-bottom:20px;
}
.ad-div .reply .re-div {
	padding:10px;
	border:1px solid #e5e5e5;
	border-radius:5px;
}
.ad-div .re-info.writer span {
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
}
.ad-div .re-info.writer .profile {
	position:relative;
	width:40px;
	height:40px;
	margin-right:10px;
	border-radius:50%;
	border:1px solid #e5e5e5;
	overflow:hidden;
}
.ad-div .re-info.writer .profile img {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
.ad-div .re-content {
	margin:10px 0;
}
.ad-div .re-content textarea {
	height:100px;
	border:none;
}
.ad-div .re-div .re-util {
	position:relative;
	padding-top:10px;
	border-top:1px solid #e5e5e5;
}
.ad-div .re-div .re-util .text-count {
	position:absolute;
	bottom:10px;
	left:10px;
	font-size:14px;
	color:#999;
}
.ad-div .re-list-div {
	margin-top:40px;
}
.ad-div .re-list {
	border-top:2px solid #ff7ab0;
}
.ad-div .re-list li {
	padding:20px 0;
	border-bottom:1px solid #e5e5e5;
}
.ad-div .re-list li.bg {
	padding:20px 50px;
	background:#f5f5f5;
}
.ad-div .re-list .re-content .btn-wrap {
	margin-top:10px;
	height:100%;
}
.ad-div .re-list .re-content .btn-wrap:after {
	content:"";
	display:block;
	clear:both;
}
.ad-div .re-list .re-content .btn-wrap .reply-btn {
	float:left;
	font-size:14px;
}
.ad-div .re-list .re-div {
	display:none;
	margin:30px 0 0 0;
	padding:20px;
	border:1px solid #e5e5e5;
}
.ad-div .re-list .re-day {
	margin-right:20px;
	font-size:13px;
	color:#999;
}
@media all and (max-width:1400px){
	.ad-div .infoAll .info {
		margin-left:0;
	}
}
@media all and (max-width:768px) {
	/* advertise list-style */
	.add-btn-wrap{
		margin-bottom:20px;
	}
	.ad-list .txt-div {
	    margin-left:10px;
	}
	.ad-list .list-tit{
		font-size:20px;
	}
	.ad-list .ect {
	    font-size: 12px;
	    margin-right:10px;
	}
	/* advertise detail-style */
	.ad-div .detailbtn{
		margin-top:10px;
	}
	.ad-div .infoAll .group.img {
		float:none;
		width:100%;
		margin:0;
	}
	.ad-div .infoAll .info {
		float:none;
		width:100%;
		margin:20px 0 0;
		border-top:2px solid #ff7ab0;
	}
	.ad-div .infoAll .table td.profile-td {
		width:60px;
	}
	.ad-div .infoAll .tabel .nick{
		width:calc(100% - 70px);
		font-size:20px;
	}
	.ad-div .infoAll .table .profile{
		margin-right:10px;
	}
	.ad-div .infoAll .info .info-sm div.comment{
		padding-left:20px;
		background-size:17px auto;
	}
	.info-sm div.read, .list-info-sm div.read{
		padding-left:20px;
		background-size:17px auto;
	}
	.ad-div .content-detail-div{
		margin-top:10xp;
		margin-bottom:10px;
		min-height:150px;
	}
	.ad-div .img-detail-div{
		margin-bottom:10px;
	}
	.ad-div .img-detail-div .content-img{
		margin-bottom:10px;
		margin-top:5px;
		padding:10px;
	}
	.ad-div .img-detail-div .content-img img{
		margin:0;
		width:100%;
	}
	.ad-div .info .ad-tit{
		font-size:20pt;
	}
	.ad-div .infoAll .info .table .profile {
		width:50px;
		height:50px;
	}
	.ad-div .infoAll .info-sm .info-sm-div {
		margin-left:5px;
	}
	/* detail-reply */
	.ad-div .reply .tit {
		margin-bottom:10px;
	}
	.ad-div .reply .re-div {
		padding:5px;
	}
	.ad-div .re-info.writer span {
		font-size:14px;
	}
	.ad-div .re-info.writer .profile {
		width:30px;
		height:30px;
		margin-right:5px;
	}
	.ad-div .re-content {
		margin:5px 0;
	}
	.ad-div .re-content textarea {
		height:50px;
	}
	.ad-div .re-div .re-util {
		padding-top:5px;
	}
	.ad-div .re-div .re-util .text-count {
		bottom:5px;
		left:5px;
		font-size:12px;
	}
	.ad-div .re-list-div {
		margin-top:20px;
	}
	.ad-div .re-list li {
		padding:10px 0;
	}
	.ad-div .re-list li.bg {
		padding:10px 25px;
	}
	.ad-div .re-list .re-content .btn-wrap {
		margin-top:5px;
	}
	.ad-div .re-list .re-content .btn-wrap .reply-btn {
		font-size:12px;
	}
	.ad-div .re-list .re-div {
		margin:15px 0 0 0;
		padding:10px;
	}
}