/* advertise list-style */
.ad-list li{
	border:1px solid #ddd;
}
.btn-wrap{
	margin-bottom:40px;
	text-align:right;
}

/* advertise detail-style */
.detailbtn{
	text-align:right;
	margin-top:20px;
}
/* detail */
.nick{
	font-size:25px;
}
.profile{
	margin-right:20px;
}
.counts{
	text-align:right;
}

/* detail-reply */
.re-wrap{
	width:100%;
	float:left;
}
tr.counts{
	margin-bottom:30px;
}
.ad-dbtn{
	width:100%;
}
.re-list .re-div {
	position:relative;
	padding:20px;
	padding-left:80px;
	border-bottom:1px solid #ddd;
}

.re-list .re-info {
	float:left;
	margin-right:10px;
	font-size:12pt;
}
.re-info .re-writer {
	font-weight:bold;
}
.re-info .profile-img {
	position:absolute;
	top:20px;
	left:20px;
	width:50px;
	border-radius:50%;
	border:2px solid #f7f6fc;
	overflow:hidden;
}
.re-info .profile-img  img {
	width:100%;
}
.re-list .re-detail {
	clear:both;
}
.re-detail .re-util .re-day {
	margin-right:20px;
	font-size:13px;
	color:#999;
}
.re-detail .re-util > a {
	margin-left:10px;
	font-size:13px;
	color:#999;
}
.info .ad-tit{
	font-size:25pt;
	font-weight:bold;
	color:#333;
}
.reply{
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
}
.nodata{
	border:0px;
}
.re-blank{
	padding-left:50px;
}
.re-addcontent{
	width:100%;
    padding:10px;
    height:100px;
    border-bottom:1px solid #ddd;
}
.text-count{
	font-size:10pt;
	text-align:left;
}
.re-textinput, .re-retextinput{
	border:0px;
}
.re-textinput, .re-retextinput{
	width:100%;
    height:100%;
    resize:none;
    font-size:12pt;
    line-height:1.5;
}
.re-content{
	margin-right:5px;
}
.re-addbtn{
	text-align:right;
}
.re-replybtn{
	font-size:9pt;
	color:#ddd;
}
.re-reply{
	display:none;
}
.re-replybtn{
	display:flex;
    width:100%;
    height:50px;
    -webkit-box-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    justify-content:space-between;
    padding:0px 10px;
}
.re-btns{
	text-align:right;
	font-size:11pt;
	color:#ddd;
}

