
.commu-list ul:after{
	content:"";
	display:block;
	clear:both;	
}

.commu-list ul li{
	position:relative;
	float:left;
	width:calc((100% - 60px) / 3);
	margin-right:30px;
	margin-top:30px;
}

.commu-list ul li{
	/* border: 1px solid gray; */
	height: 530px;
}

.commu-list ul li .image {
	position:relative;
	width:100%;
	height:400px;
	overflow:hidden;
	top: 30px;
}
.commu-list ul li .image img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.commu-list ul li .text-div .date {
	position:absolute;
	top:0;
	right:0;
	color: #999;
}

ul li:nth-of-type(3n){
	margin-right:0;
}

ul li:nth-of-type(-n+3){
	margin-top:0;
}

.commu-list ul li .text-div{
	padding: 8px 20px 10px 20px;
}

.commu-list ul li .text-div .tit{
	margin-top:45px;
	width:300px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.commu-list ul li .text-div .txt{
	margin-top:10px;
	width:350px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}