
.group:after{
	content:"";
	display:block;
	clear:both;
}

.child{
	float:left;
	width: 150px;
}

.star{
	color:red;
}

.img-div label img{
	width:180px;
	cursor: pointer;
}


.chooseFile{
	visibility:hidden;
}

.subinput{
	width: 1000px;
}

.continput{
	width: 1000px;
}

.write-btn{
	display: block;
	margin-top: 30px;
	margin-left: 900px;
}

.btn-list{
	margin-left: 10px;
}


.showfile{
	display: block;
	float: left;
	width:180px;
	height: 180px;
	
}


