@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* { 
	margin:0; 
	padding:0; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box; 
}
html { 
	width:100%; 
	height:100%; 
}
body { 
	position:relative; 
	font-family:'Noto Sans KR', sans-serif; 
	font-weight:400; 
	font-size:18px; 
	color:#666; 
	-webkit-overflow-scrolling:touch; 
}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, table, tr, th, td { 
	margin:0; 
	padding:0; 
}
ul, ol, li { 
	list-style:none; 
}
img, fieldset { 
	border:none; 
	vertical-align:top; 
}
legend, caption { 
	position:absolute; 
	top:-9999px; 
	left:-9999px; 
	z-index:-1; 
}
textarea, button { 
	vertical-align:middle; 
}

textarea{
	resize: none;
}

input, select { 
	width:100%;
	height:42px;
	padding:5px 15px;
	font-family:'Noto Sans KR', sans-serif; 
	font-size:16px; 
	color:#333; 
	line-height:1.3; 
	letter-spacing:-0.02em; 
	border-radius:0; 
	vertical-align:top; 
	background:#fff; 
	border:1px solid #e5e5e5; 
}
input::placeholder {
	color:#999;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
textarea, .detailContent { 
	width:100%;
	padding:10px 15px;
	font-family:'Noto Sans KR', sans-serif; 
	font-size:18px; 
	color:#333; 
	line-height:1.3; 
	letter-spacing:-0.02em; 
	border-radius:0; 
	vertical-align:top; 
	background:#fff; 
	border:1px solid #e5e5e5; 
}
input:focus, input:active { 
	outline: none; 
}
input[type="checkbox"] {
	width:20px;
	height:20px;
	vertical-align:middle;
}
option:focus, option:active { 
	outline: none;
}
a { 
	text-decoration:none; 
	color:#666; 
}
a:hover, a:focus, a:active { 
	text-decoration:none;
}
table { 
	width:100%; 
	border-collapse:collapse; 
	table-layout:fixed; 
}
button { 
	padding:0; 
	margin:0; 
	font-family:'Noto Sans KR', sans-serif; 
	font-size:18px; 
	background:none; 
	border:none;
	cursor:pointer; 
	overflow:visible; 
	white-space:nowrap; 
}
button:focus, button:active { 
	outline: none; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { 
	display: block; 
}
.inner {
    width:1280px;
    margin:0 auto;
}
.dimd {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}
#wrap {
	width:100%;
	overflow:hidden;
}
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    border-bottom:1px solid #f5f5f5;
    z-index:11;
}
header .inner {
    position:relative;
}
header .util {
	border-bottom:1px solid #f5f5f5;
	text-align:right;
}
header .util a {
    display:inline-block;
    padding:10px;
}
header .util a:first-child {
	position:relative;
    margin-left:0;
}
header .util a:first-child:after {
    content:"";
    position:absolute;
    top:16px;
    right:-2px;
    display:block;
    width:1px;
    height:15px;
    background:#ccc;
}
.header_div .inner:after {
	content:"";
	display:block;
	clear:both;
}
header .logo {
	float:left;
    width:150px;
    height:90px;
    background:url("../image/logo2.png") no-repeat center / 100%;
    text-indent:-999px;
    overflow:hidden;
}
header .logo a {
	display:block;
	height:100%;
}
header .menu {
	float:right;
	padding:31px 0;
}
header .menu:before {
	content:"";
	display:block;
	width:100%;
	height:100%;
	transition:all 0.6s ease-out; 
}
header .menu.gnb-on:before {
	position:fixed;
	top:0;
	right:0;
	background:rgba(0,0,0,0.5);
}
header .menu-btn {
	position:relative;
	width:30px;
	height:25px;
}
header .menu-btn strong {
	display:block;
	height:0;
	text-indent:-999px;
	overflow:hidden;
}
header .menu-btn span {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:4px;
	background-color:#ff7ab0;
	border-radius:2px;
	transition-duration:500ms;
	transition:.3s cubic-bezier(.8, .5, .2, 1.4);
}
header .menu-btn span:nth-of-type(2) {
	top:10px;
}
header .menu-btn span:nth-of-type(3) {
	top:auto;
	bottom:0;
}
header .menu-btn.on {
	z-index:2;
}
header .menu-btn.on span{
	background:#fff;
}
header .menu-btn.on span:nth-of-type(1) {
	top:13px;
	transform:rotate(45deg);
}
header .menu-btn.on span:nth-of-type(2) {
	opacity:0;
}
header .menu-btn.on span:nth-of-type(3) {
	top:13px;
	transform:rotate(-45deg);
}
header .gnb {
	position:fixed;
	top:0;
	right:-50%;
	width:45%;
	height:100vh;
	padding:200px 100px 100px;
	background:#ff7ab0; 
	background:-moz-linear-gradient(-45deg,  #ff7ab0 0%, #f4c844 100%); 
	background:-webkit-linear-gradient(-45deg,  #ff7ab0 0%,#f4c844 100%); 
	background:linear-gradient(135deg,  #ff7ab0 0%,#f4c844 100%);
	background-repeat: repeat;
	z-index:1;
	opacity:0;
	overflow-y:auto;
}
header .gnb:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("../image/gnb-bg-icon.png") repeat;
	opacity:0.05;
	z-index:-1;
}
header .gnb li {
	margin-bottom:60px;
}
header .gnb li:last-child {
	margin-bottom:0;
}
header .gnb li:after {
	content:"";
	display:block;
	clear:both;
}
header .gnb li a {
	display:block;
	font-size:24px;
	color:#fff;
}
header .gnb li .one-depth {
	float:left;
	width:180px;
	margin-right:80px;
	font-size:30px;
}
header .gnb li .two-depth {
	float:left;
}
header .gnb li .two-depth a {
	margin-bottom:10px;
	padding:5px 10px;
	opacity:0.5;
}
header .gnb li .two-depth a:last-child {
	margin-bottom:0;
}
header .gnb li .two-depth a:hover , header .gnb li .two-depth a:focus, header .gnb li .two-depth a:active {
	opacity:1;
}
header .local-div {
	float:right;
	position:relative;
	margin-right:30px;
}
header .local-div .local-btn {
	position:relative;
	padding:34px 20px 30px;
}
header .local-div .local-btn:after {
	content:"";
	position:absolute;
	top:calc(50% - 2px);
	right:0;
	display:block;
	width:12px;
	height:12px;
	background:url("../image/search-arrow.png") no-repeat right center / 12px auto;
	transform:rotate(180deg);
	transition:all ease 0.3s;
}
header .local-div .local-btn.on:after {
	transform:rotate(0);
}
header .local-div .local-option {
	display:none;
	position:absolute;
	top:80px;
	right:0;
	width:200px;;
	padding:20px;
	background:#fff;
	border-radius:10px;
	border:2px solid #eee;
}
header .local-div .local-option:before {
	content:"";
	display:block;
	position:absolute;
	top:-12px;
	right:15px;
	width:16px;
	height:12px;
	background:url("../image/local-arrow-bg.png") no-repeat right center / 100% auto;
}
#cBody {
	padding:137px 0 175px;
}
#cBody .sub-body {
	padding:30px 0;
}
#cBody .sub-body .inner:after {
	content:"";
	display:block;
	clear:both;
}
#cBody .sub-body .title-area {
	float:left;
}
#cBody .sub-body .title-area h2 {
	font-size:30px;
	color:#333;
}
#cBody .sub-body .search-area {
	position:relative;
	top:8px;
	float:right;
	width:30px;
	height:30px;
}
#cBody .sub-body .search-area input {
	position:absolute;
	top:0;
	right:2px;
	width:25px;
	height:25px;
	padding:0;
	font-size:0;
	border:3px solid #ff7ab0;
	border-radius:30px;
	transition:all 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
#cBody .sub-body .search-area .search-btn {
	position:absolute;
	bottom:0;
	right:0;
	width:30px;
	height:30px;
	transition:all 150ms ease-out 150ms;
	text-indent:-999px;
	overflow:hidden;
}
#cBody .sub-body .search-area .search-btn:before {
	content:"";
	position:absolute;
	bottom:0;
	right:3px;
	height:11px;
	border-left:3px solid #ff7ab0;
	border-radius:2px;
	transform:rotate(-45deg);
	transition:all 150ms ease-out 150ms;
}
#cBody .sub-body .search-area .search-btn:after {
	content:"";
	position:absolute;
	bottom:0;
	right:-10px;
	height:11px;
	border-left:3px solid #ff7ab0;
	border-radius:2px;
	transform:rotate(45deg);
	transition:all 150ms ease-out 150ms;
	opacity:0;
}
#cBody .sub-body .search-area.on input {
	top:-4px;
	width:250px;
	height:40px;
	padding:0 20px;
	font-size:18px;
	border:1px solid #ccc;
}
#cBody .sub-body .search-area.on .search-btn:before ,#cBody .sub-body .search-area.on .search-btn:after {
	bottom:5px;
	right:20px;
	height:20px;
	border-left:1px solid #ccc;
	opacity:1;
}
/* font-style */
.tit {
	font-size:22px; 
	font-weight:bold;
	color:#333;
}
/* button-style */
.btn-wrap {
	text-align:right;
}
.btn-wrap a, .btn-wrap button {
	margin-right:5px;
}
.btn-wrap a:last-child, .btn-wrap button:last-child {
	margin-right:0;
}
.btn-wrap.top-div {
	margin-bottom:20px;
}
.btn-default {
	display:inline-block;
	min-width:100px;
	padding:10px 20px;
	font-size:18px;
	font-weight:bold;
	color:#444;
	background:#e5e5e5;
	border:1px solid #e5e5e5;
	border-radius:30px;
	text-align:center;
}
.btn-list {
	display:inline-block;
	min-width:100px;
	padding:10px 20px;
	font-size:18px;
	font-weight:bold;
	color:#ff7ab0;
	background:#fff;
	border:1px solid #ff7ab0;
	border-radius:30px;
	text-align:center;
}
.btn-add {
	display:inline-block;
	min-width:100px;
	padding:10px 20px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background:#ff7ab0;
	border:1px solid #ff7ab0;
	border-radius:30px;
	text-align:center;
}
.btn-update {
	display:inline-block;
	min-width:100px;
	padding:10px 20px;
	font-size:18px;
	font-weight:bold;
	color:#ffae6d;
	background:#fff;
	border:1px solid #ffae6d;
	border-radius:30px;
	text-align:center;
}
.btn-delete {
	display:inline-block;
	min-width:100px;
	padding:10px 20px;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	background:#ffae6d;
	border:1px solid #ffae6d;
	border-radius:30px;
	text-align:center;
}
.btn-default.btn-sm {
	min-width:50px;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
}
.btn-list.btn-sm {
	min-width:50px;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
}
.btn-add.btn-sm {
	min-width:50px;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
}
.btn-update.btn-sm {
	min-width:50px;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
}
.btn-delete.btn-sm {
	min-width:50px;
	padding:5px 15px;
	font-size:14px;
	font-weight:normal;
}
.paging {
	margin-top:80px;
	text-align:center;
}
.paging a {
	display:inline-block;
	width:30px;
	height:30px;
	margin:0 10px;
	font-weight:bold;
	color:#ff7ab0;
	line-height:28px;
	vertical-align:top;
	overflow:hidden;
}
.paging a.active {
	color:#fff;
	background:#ff7ab0;
	border-radius:50%;
}
.paging a.prev span, .paging a.next span {
	text-indent:-999px;
	overflow:hidden;
}
.paging a.prev:before {
	content:"<";
	display:block;
}
.paging a.next:before {
	content:">";
	display:block;
}
/* table-style */
.table {
	table-layout:fixed;
	border-top:2px solid #ff7ab0;
}
.table th , .table td {
	padding:10px;
}
.table th {
	color:#333;
}
.table tr {
	border-bottom:1px solid #e5e5e5;
}
.table .num {
	width:80px;
}
.table .writer {
	width:150px;
}
.table .writeday {
	width:200px;
}
.table .readcount {
	width:100px;
}
/* event list-style */
.event-list:after {
	content:"";
	display:block;
	clear:both;
}
.event-list li {
	float:left;
	width:calc((100% - 30px) / 2);
	margin-right:30px;
	margin-top:30px;
}
.event-list li:nth-of-type(even) {
	margin-right:0;
}
.event-list li:nth-of-type(-n+2) {
	margin-top:0;
}
.event-list .img-div {
	position:relative;
	overflow:hidden;
}
.event-list .img-div img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.event-list .txt-div {
	position:relative;
	padding:20px 0;
}
.event-list .txt-div .tit {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.event-list .txt-div .date {
	margin-top:20px;
	font-size:14px;
	color:#999;
} 
.event-list .txt-div .etc {
	position:absolute;
	bottom:20px;
	right:20px;
} 
.event-list .txt-div .etc > p {
	display:inline-block;
	font-size:14px;
	color:#999;
}
/* write form-style */
.write-form {
	margin-top:20px;
}
.write-form .inner {
	border-top:2px solid #ff7ab0;
}
.write-form .group {
	padding:20px;
	border-bottom:1px solid #e5e5e5;
}
.write-form .group:after{
	content:""; 
	display:block; 
	clear:both;
}
.write-form .child {
	float:left;
	width:calc(100% - 150px);
}
.write-form .child:first-child {
	width:150px;
}
.write-form .child.imgupload:after {
	content:"";
	display:block;
	clear:both;
}
.write-form .uploadImg {
	float:left;
	width:180px;
	height:180px;
}
.write-form .previewarea {
	float:left;
	width:calc(100% - 180px);
}
.write-form .uploadImg label img {
	width:100%;
	cursor:pointer;
}
.write-form .imginput {
	width:0;
	height:0;
	padding:0;
	visibility:hidden;	
}
.write-form .previewarea:after {
	content:"";
	display:block;
	clear:both;
}
.write-form .preview-img {
	position:relative;
	float:left;
	width:180px;
	height:180px;
	overflow:hidden;
	margin-left:10px;
}
.write-form .preview-img .close {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:20px;
	height:20px;
	font-size:12px;
	color:#fff;
	line-height:20px;
	background:rgba(0,0,0,0.6);
	border-radius:50%;
	text-align:center;
	cursor:pointer;
}
.write-form .preview-img img {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;	
	transform:translate(-50%, -50%);
}
.write-form .must{
	color:#ff7ab0;
}
.write-form .textinput{
	height:400px;
}
.write-form .btn-wrap {
	margin-top:40px;
	text-align:right;
}
/* nodata-style */
.nodata {
	padding:80px;
	text-align:center;
	border-top:2px solid #ff7ab0;
}
.nodata .icon {
	width:60px;
	height:60px;
	margin:0 auto 30px;
	border:1px solid gray;
	border-radius:50%;
}
.nodata .icon img {
	width:100%;
}

/* writeform-style*/
.previewarea:after {
	content:"";
	display:block;
	clear:both;
}

.preview-img {
	position:relative;
	float:left;
	width:180px;
	height:180px;
	overflow:hidden;
	margin-left:10px;
}

.preview-img .close {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:20px;
	height:20px;
	font-size:12px;
	color:#fff;
	line-height:20px;
	background:rgba(0,0,0,0.6);
	border-radius:50%;
	text-align:center;
	cursor:pointer;
}
.preview-img img {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;	
	transform:translate(-50%, -50%);
}



footer {
    padding:40px 0;
    border-top:1px solid #f5f5f5;
}
footer .inner:after {
    content:"";
    display:block;
    clear:both;
}
footer .footer-logo {
    float:left;
    width:100px;
    height:50px;
    margin-right:60px;
    background:url("../image/logo2.png") no-repeat center / 100%;
    text-indent:-999px;
    overflow:hidden;
}
footer p {
    margin-top:5px;
    font-size:14px;
    line-height:1.5;
}
footer .link-list li {
	display:inline-block;
	margin-right:20px;
}
footer .link-list li:last-child {
	margin-right:0;
}
footer .etc-div {
	float:left;
}
footer .etc-txt .copyright {
    font-size:12px;
    color:#999;
}
.quick-div {
	position:fixed;
	bottom:40px;
	left:calc(50% + 700px);
	z-index:10;
}
.quick-div a {
	display:block;
	width:70px;
	height:70px;
	border:1px solid #ccc;
	border-radius:50%;
}
.popup-modal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}	
.popup-modal .modal {
	position:absolute;
	top:50%;
	left:50%;
	min-width:500px;
	height:auto;
	background:#fff;
	transform:translate(-50%, -50%);
}	
.popup-modal .modal .modal-title {
	padding:30px;
}
.popup-modal .modal .modal-content {
	padding:30px;
}
.popup-modal .modal .modal-close {
	position:absolute;
	top:-30px;
	right:0;
}
@media all and (max-width: 1300px){
	.inner {
		width:94%;
	}
	.table .num {
		width:5%;
	}
	.table .writer {
		width:10%;
	}
	.table .writeday {
		width:15%;
	}
	.table .readcount {
		width:10%;
	}
}
@media all and (max-width: 768px){
	.table .num {
		width:10%;
	}
	.table .writer {
		width:10%;
	}
	.table .writeday {
		width:25%;
	}
	.table .readcount {
		width:10%;
	}
}