/* community List */
.commu-wrap {
	margin-top:40px;
}
.cummu-list:after{
	content:"";
	display:block;
	clear:both;	
}
.cummu-list li{
	position:relative;
	float:left;
	width:calc((100% - 90px) / 4);
	margin-right:30px;
	margin-top:30px;
	padding-top:30px;
}
.cummu-list li .img-div {
	position:relative;
	width:100%;
	overflow:hidden;
}
.cummu-list li .img-div img {
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.cummu-list li:nth-child(4n){
	margin-right:0;
}
.cummu-list li:nth-child(-n+4){
	margin-top:0;
}
.cummu-list li .text-div{
	padding: 8px 10px 30px 10px;
}
.cummu-list li .text-div .tit{
	margin-top:25px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.cummu-list li .text-div .txt{
	margin-top:8px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.cummu-list li .text-div .date {
	position:absolute;
	top:0;
	right:0;
	color: #999;
}
.inner .commu-div ul li .reply-heart {
	position:absolute;
	top:0;
	left:0;
	font-size: 15px;
	color: #999;
}
.inner .commu-div ul li .reply-heart > div {
	display:inline-block;
	margin-right:10px;
}
.inner .commu-div ul li .reply-heart > div > div {
	display:inline-block;
	width:25px;
}
.inner .commu-div ul li .reply-heart > div img {
	width:100%;
}

/* community Write&Update Form */
.commu-div .inner .group .child textarea{
	height: 300px;
}

/* community Detail */

.community-div .community-detail-div .infoAll{
	margin-top:40px;
}

.community-div .community-detail-div .infoAll .img.group .detail-swiper {
	position:relative;
	overflow:hidden;
}

.community-div .community-detail-div .infoAll .img.group .detail-swiper .swiper-slide{
	position:relative;
}

.community-div .community-detail-div .infoAll .img.group .detail-swiper .swiper-slide.bigImg{
	padding-top:10px;
	width:323px;
	border:2px solid #f7f6fc;
	overflow:hidden;
}

.community-div .community-detail-div .infoAll .img.group .detail-swiper .swiper-slide.bigImg img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.community-div .community-detail-div .infoAll .img.group .smImgDiv .smImg.child {
	position:relative;
	width:calc((310px -30px)/4);
	border:2px solid #f7f6fc;
	overflow:hidden;
	display: inline-block;
}

.community-div .community-detail-div .infoAll .img.group .smImgDiv .smImg img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.community-div .img-detail-div button{
	margin-top:60px;
}
.community-div .img-detail-div .content-img img{
	margin-top:20px;
	margin-bottom:15px;
	max-width: 320px;
}
.community-div .infoAll .group{
	margin-top:0;
	float:left;
	width:330px;
	margin-right:40px;
}

.community-div .infoAll .info{
	float:left;
    width:calc(100% - 395px);
    margin-left:25px;
}

.community-div .infoAll:after{
	content:""; 
	display:block; 
	clear:both;
}

.community-div .infoAll .info table .detailtit{
	font-size:25pt;
	font-weight:bold;
	padding:8px 0px 8px 0px;
}

.community-div .infoAll .info table .other{
	padding:5px 0px 5px 0px;
}

.infoAll .info .table tr:last-child {
	border-bottom:none;
}

.infoAll .info .table tr td .fmtdate{
	color:#999;
	text-align:left;
}

.infoAll .info .table tr td .detailtit{
	padding: 5px 0px 5px 0px;
}

.infoAll .info .table tr td .nick.txt{
	display:inline-block;
	line-height:70px;
}
.infoAll .info .table tr td .loginokbtn{
	padding-top: 10px;
}
.infoAll .info .table tr td .btn-wrap:after {
	content:"";
	display:block;
	clear:both;
}
.infoAll .info .table tr td .btn-wrap .goodbtn {
	float:left;
}
.infoAll .info .table tr td .btn-wrap .goodbtn img{
	width:50px;
	margin-top: -30px;
}
.infoAll .info .table tr td .btn-wrap .deupdate{
	margin-left:10px;
}

.infoAll .info .table .pro-img {
	position:relative;
	display:inline-block;
	width:70px;
	height:70px;
	margin-right:10px;
	border-radius:100%;
	border:2px solid #f7f6fc;
	overflow:hidden;
	vertical-align:top;
}
.infoAll .info .table .pro-img .profileImg{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:100%;
}
.detailContent{
	margin-top:15px;
	min-height:200px;
}
.detailbtn .delist{
	float:right;
	margin-top:20px;
	margin-left:10px;
}
.infoAll .info table .other .reply-heart .gdcount-icon img{
	width:20px;
}
.infoAll .info table .other .reply-heart .gdcount-icon .gdcount{
	font-size:20px;
	color:#999;	
	display: inline-block;
	vertical-align: middle;
}
.infoAll .info table .other .reply-heart > div {
	display:inline-block;
	margin-right:10px;
}
.infoAll .info table .other .reply-heart > div:last-child {
	margin-right:0;
}
.infoAll .info table .other .reply-heart > div img {
	vertical-align: middle;
}
.infoAll .info table .other .reply-heart .reply-icon img{
	width:20px;
}
.infoAll .info table .other .reply-heart .reply-icon .recount{
	font-size:20px;
	color:#999;
	display: inline-block;
	vertical-align: middle;
}

/* reply */

.community-div .reply .tit {
	margin-top:80px;
	margin-bottom:20px;
}
.community-div .reply .re-div {
	padding:10px;
	border:1px solid #e5e5e5;
	border-radius:5px;
}
.community-div .re-info.writer span {
	display:inline-block;
	font-size:16px;
	font-weight:bold;
	vertical-align:middle;
}
.community-div .re-info.writer .profile {
	position:relative;
	width:40px;
	height:40px;
	margin-right:10px;
	border-radius:50%;
	border:1px solid #e5e5e5;
	overflow:hidden;
}
.community-div .re-info.writer .profile img {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
.community-div .re-content {
	margin:10px 0;
}
.community-div .re-content textarea {
	height:100px;
	border:none;
}
.community-div .re-div .re-util {
	position:relative;
	padding-top:10px;
	border-top:1px solid #e5e5e5;
}
.community-div .re-div .re-util .text-count {
	position:absolute;
	bottom:10px;
	left:10px;
	font-size:14px;
	color:#999;
}
.community-div .re-list-div {
	margin-top:40px;
}
.community-div .re-list {
	border-top:2px solid #ff7ab0;
}
.community-div .re-list li {
	padding:20px 0;
	border-bottom:1px solid #e5e5e5;
}
.community-div .re-list li.bg {
	padding:20px 50px;
	background:#f5f5f5;
}
.community-div .re-list .re-content .btn-wrap {
	margin-top:10px;
}
.community-div .re-list .re-content .btn-wrap:after {
	content:"";
	display:block;
	clear:both;
}
.community-div .re-list .re-content .btn-wrap .reply-btn {
	float:left;
	font-size:14px;
}
.community-div .re-list .re-div {
	display:none;
	margin:20px 0 0 50px;
	padding:20px;
	border:1px solid #e5e5e5;
}

@media all and (max-width:1400px) {
	/* community List */
	.cummu-list li{
		width:calc((100% - 60px) / 3);
	}
	.cummu-list li:nth-child(4n){
		margin-right:30px;
	}
	.cummu-list li:nth-child(-n+4){
		margin-top:30px;
	}
	.cummu-list li:nth-child(3n){
		margin-right:0;
	}
	.cummu-list li:nth-child(-n+3){
		margin-top:0;
	}
	/* community Detail */
	.community-div .infoAll .group.img {
		margin-top:0;
		float:left;
		width:330px;
		margin-right:40px;
	}
	.community-div .infoAll .info{
		float:left;
	    width:calc(100% - 370px);
	    margin-left:0;
	}
}

@media all and (max-width:768px) {
	.commu-wrap {
		margin-top:20px;
	}
	/* community List */
	.cummu-list li{
		width:calc((100% - 15px) / 2);
		margin-top:15px;
		margin-right:15px;
		padding-top:20px;
	}
	.cummu-list li:nth-child(4n), .cummu-list li:nth-child(3n){
		margin-right:15px;
	}
	.cummu-list li:nth-child(-n+4), .cummu-list li:nth-child(-n+3){
		margin-top:15px;
	}
	.cummu-list li:nth-child(even){
		margin-right:0;
	}
	.cummu-list li:nth-child(-n+2){
		margin-top:0;
	}
	.cummu-list li .text-div .tit{
		margin-top:0;
	}
	.cummu-list li .text-div .txt{
		margin-top:4px;
	}
	.cummu-list li .text-div .date {
		top:-5px;
		font-size:12px;
	}
	.inner .commu-div ul li .reply-heart {
		top:-5px;
		font-size: 12px;
	}
	.inner .commu-div ul li .reply-heart > div {
		margin-right:5px;
	}
	.inner .commu-div ul li .reply-heart > div > div {
		width:15px;
	}
	.commu-div .inner .group .child textarea {
		height:150px;
	}
	/* community Detail */
	.community-div .community-detail-div .infoAll{
		margin-top:20px;
	}
	.community-div .community-detail-div .infoAll .img.group .detail-swiper .swiper-slide.bigImg{
		padding-top:0;
		width:100%;
	}
	.community-div .community-detail-div .infoAll .img.group .smImgDiv .smImg.child {
		position:relative;
		width:calc((100% - 30px) / 4);
	}
	.community-div .img-detail-div button{
		margin-top:30px;
	}
	.community-div .img-detail-div .content-img img{
		max-width: 100%;
		margin:10px auto 15px;
	}
	.community-div .infoAll .group.img{
		float:none;
	    width:100%;
		margin-right:0;
	}
	.community-div .infoAll .info{
		float:none;
	    width:100%;
	    margin-top:40px;
	    margin-left:0;
	}
	.community-div .infoAll .info table .detailtit{
		font-size:20px;
	}
	.infoAll .info .table tr td .nick.txt{
		display:inline-block;
		line-height:50px;
	}
	.infoAll .info .table tr td .loginokbtn{
		padding-top: 10px;
	}
	.infoAll .info .table tr td .btn-wrap:after {
		content:"";
		display:block;
		clear:both;
	}
	.infoAll .info .table tr td .btn-wrap .goodbtn {
		float:left;
	}
	.infoAll .info .table tr td .btn-wrap .goodbtn img{
		width:50px;
		margin-top: -30px;
	}
	.infoAll .info .table tr td .btn-wrap .deupdate{
		margin-left:10px;
	}
	.infoAll .info .table .pro-img {
		width:50px;
		height:50px;
	}
	.detailContent{
		margin-top:15px;
		min-height:200px;
	}
	.detailbtn .delist{
		float:right;
		margin-top:20px;
		margin-left:10px;
	}
	.infoAll .info table .other .reply-heart .gdcount-icon img{
		width:15px;
	}
	.infoAll .info table .other .reply-heart .gdcount-icon .gdcount{
		font-size:14px;
	}
	.infoAll .info table .other .reply-heart .reply-icon img{
		width:15px;
	}
	.infoAll .info table .other .reply-heart .reply-icon .recount{
		font-size:14px;
	}
	/* reply */
	.community-div .reply .tit {
		margin-top:40px;
		margin-bottom:10px;
	}
	.community-div .reply .re-div {
		padding:5px;
	}
	.community-div .re-info.writer span {
		font-size:14px;
	}
	.community-div .re-info.writer .profile {
		width:30px;
		height:30px;
		margin-right:5px;
	}
	.community-div .re-content {
		margin:5px 0;
	}
	.community-div .re-content textarea {
		height:50px;
	}
	.community-div .re-div .re-util {
		padding-top:5px;
	}
	.community-div .re-div .re-util .text-count {
		bottom:5px;
		left:5px;
	}
	.community-div .re-list-div {
		margin-top:20px;
	}
	.community-div .re-list li {
		padding:10px 0;
	}
	.community-div .re-list li.bg {
		padding:10px 25px;
	}
	.community-div .re-list .re-content .btn-wrap {
		margin-top:5px;
	}
	.community-div .re-list .re-content .btn-wrap .reply-btn {
		font-size:12px;
	}
	.community-div .re-list .re-div {
		margin:10px 0 0 25px;
		padding:10px;
	}
}