
/* faq List&Write&Update Form */

.faq-div {
	margin-top:40px;
}

.faq-div .table {
	margin-top:20px;
}


.faq-div #faq-category {
	width:120px;
	height:40px;
	font-size: 14px;
	float:left;
	
}


/* faq List */

.faq-div .arrow1 {
	float:right;
	width:20px;
	height:20px;
	background:url("/image/faq-down-icon.png") no-repeat center / auto 20px;
	transform:rotate(0deg);
}

.faq-div .arrow1.on {
	transform:rotate(-180deg);
}



.faq-div table tr.answer {
	display:none;
}

.faq-div .answer {
	font-weight:bolder;
}




	


@media all and (max-width:768px) {
	.faq-div .table .category {
	width:15%;
}

.faq-div .table .question {
	width:35%;
}

.faq-div .table .bin {
	width:40%;
}

body {
		font-size: 10px;
	}
	
.faq-div #faq-category {
	width:70px;
	height:30px;
	font-size: 12px;
	float:left;
	text-align:center;
}
	

	

}

