/* faq List&Write&Update Form */
.faq-div {
	margin-top:40px;
}
.faq-div .table {
	margin-top:20px;
}
.faq-div .table th:first-child {
	width:150px;
}
.faq-div #faq-category {
	width:120px;
	height:40px;
	font-size: 14px;
}

/* faq List */
.faq-div .arrow1 {
	float:right;
	width:20px;
	height:20px;
	background:url("/image/faq-down-icon.png") no-repeat center / auto 20px;
	transform:rotate(0deg);
}
.faq-div .arrow1.on {
	transform:rotate(-180deg);
}
.faq-div table tr.answer {
	display:none;
	background:#f5f5f5;
}
@media all and (max-width:768px) {
	.faq-div {
		margin-top:20px;
	}
	.faq-div .table th:first-child {
		width:70px;
	}
	.faq-div #faq-category {
		width:70px;
		height:30px;
		font-size: 12px;
	}
	.faq-div .table {
		margin-top:20px;
	}
}

