.intro{
	width:100%; 
	border-collapse:collapse; 
	table-layout:fixed; 
	
	
}


@media all and (max-width: 1300px){
	.inner {
		width:94%;
	}
	.picture {
		width:25%;
	}
	.ment {
		width:10%;
	}
	
}
@media all and (max-width: 768px){
	.picture {
		width:25%;
	}
	.ment {
		width:10%;
	}
	
}

img{
	width:300px;
}


.logo{
	 width: 150px;
    height: 90px;
    background: url(../image/logo2.png) no-repeat center / 100%;
    text-indent: -999px;
    overflow: hidden;
	
	
	
}


#center{
	
	width:100px;
    margin:auto;
    display:block;
    margin-top: 15px;
	
}