/* mypage-detail */
.mydetail-form .inner {
	position:relative;
	padding-left:130px;
}
.mydetail-form .side-menu-div {
	position:absolute;
	top:0;
	left:0;
	width:70px;
	z-index:2;
}
.mydetail-form .side-menu-div a {
	display:block;
	line-height:40px;
}
.mydetail-form .side-menu-div .swiper-wrapper {
	display:block;
}
.mydetail-form .my-page {
	text-align:center;
	margin-bottom:30px;
}
.my-sales h3{
	margin-bottom:10px;
}
.my-page .profile-update{
	margin:0 auto;
}
.myprofile-form .profile-input {
	width:0;
	height:0;
	padding:0;
	visibility:hidden;	
}
.my-page .my-profile-img, .my-page .profile-img, .preview-img {
	position:relative;
	width:150px;
	height:150px;
	border-radius:50%;
	border:2px solid #f7f6fc;
	overflow:hidden;
	margin:0 auto 10px;
}
.my-page .profile-img  img, .preview-img img{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
.my-page .my-info{
	margin-bottom:10px;
}

/* profile updateFrom */
.myprofile-form .my-info input{
	text-align:center;
	width:300px;
	border-radius:10px;
	border:2px solid #ff7ab0;
	font-weight:bold;
	font-size:15pt;
}
.myprofile-form .profile-update{
	margin-left:50%;
	width:0px;
}
.myprofile-form .profile-img{
	cursor:pointer;
}
.profile-msg{
	margin-top:5px;
	margin-bottom:50px;
	font-size:12pt;
	color:#ddd;
}

/* unregister */
.unregister-form .inner {
	padding:0 15%;
}
.unregister-form .inner .unregi-image img{
	width:300px;
}
.unregister-form .inner .unregi-message .unregi-msg1{
	font-size:20px;
	font-weight:bold;
	
}
.unregister-form .inner .unregi-message .unregi-msg2{
	display:block;
	margin-top:10px;
	font-size:17px;
}
.unregister-form .inner .unregi-question .unregi-ques{
	display:block;
	margin-top:80px;
	font-size:20px;
	font-weight:bold;
}
.unregister-form .inner .unregi-question .unregi-reason{
	display:block;
	text-align:center;
	margin-top:10px;
	width:400px;
}
.unregister-form .inner .unregi-question .btn .btn-add{
	margin-top:15px;
}
.unregister-form .inner .unregi-question .btn .btn-list{
	margin-top:15px;
	margin-left:10px;
}

@media all and (max-width: 1300px){
	
}

@media all and (max-width: 768px) {
	.mydetail-form .side-menu-div .swiper-wrapper {
		display:flex;
	}
}