/* mypage-detail */
.mydetail-form .inner {
	position:relative;
	padding-left:130px;
}
.mydetail-form .side-menu-div {
	position:absolute;
	top:0;
	left:0;
	width:70px;
	z-index:2;
}
.mydetail-form .side-menu-div a {
	display:block;
	line-height:40px;
}
.mydetail-form .side-menu-div .swiper-wrapper {
	display:block;
}
.mydetail-form .side-menu-div a.active{
	font-weight:bold;
	color:#ff7ab0;
}
.mydetail-form .my-page {
	text-align:center;
	margin-bottom:30px;
}
.my-page .profile-update{
	margin:0 auto;
}
.myprofile-form .profile-input {
	width:0;
	height:0;
	padding:0;
	visibility:hidden;	
}
.my-page {
	text-align:center;
}
.my-page .my-profile-img, .my-page .profile-img, .preview-img {
	position:relative;
	width:150px;
	height:150px;
	border-radius:50%;
	border:2px solid #f7f6fc;
	overflow:hidden;
	margin:0 auto 10px;
}
.my-page .profile-img  img, .preview-img img{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
.my-page .my-info{
	margin-bottom:10px;
}
/* profile updateFrom */
.myprofile-form .my-info input{
	text-align:center;
	width:300px;
	border-radius:10px;
	border:2px solid #ff7ab0;
	font-weight:bold;
	font-size:15pt;
}
.myprofile-form .profile-img{
	cursor:pointer;
}
.profile-msg{
	margin-top:5px;
	margin-bottom:50px;
	font-size:12pt;
	color:#ddd;
}
/* unregister */
.unregister-form {
	padding:0 10%;
}
.unregister-form .unregi-image img{
	width:300px;
}
.unregister-form .unregi-message .unregi-msg1{
	font-size:20px;
	font-weight:bold;
	
}
.unregister-form .unregi-message .unregi-msg2{
	display:block;
	margin-top:10px;
	font-size:17px;
}
.unregister-form .unregi-question .unregi-ques{
	display:block;
	margin-top:80px;
	font-size:20px;
	font-weight:bold;
}
.unregister-form .unregi-question .unregi-reason{
	display:block;
	text-align:center;
	margin-top:10px;
	width:400px;
}
.unregister-form .unregi-question .btn .btn-add{
	margin-top:15px;
}
.unregister-form .unregi-question .btn .btn-list{
	margin-top:15px;
	margin-left:10px;
}
/* sellList */
.sell-list .sell-list-condition #sell-status{
	width:300px;
	margin-top:10px;
	margin-bottom:30px;
}
.sell-list .myselling-list table .pimg{
	width: 150px;
}
.sell-list .myselling-list table .psellstatus{
	width: 150px;
}
.sell-list .myselling-list table .sell-list-tbody .simg img{
	width:135px;
	height:135px;
	border-radius:5px;
	margin-top:5px;
	margin-bottom: 5px;
}
.sell-list .myselling-list table td:last-child {
	text-align:center;
}
.sell-list .myselling-list table .sell-list-tbody .scate{
	color: #ff7ab0;
}
.sell-list .myselling-list table .sell-list-tbody .sstatus{
	font-size:20px;
	color: #ff7ab0;
}
.sell-list .myselling-list table .sell-list-tbody .stitle{
	margin-bottom:30px;
}
/* productlike */
.mylike-form .table .tit {
 	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-like > .tit {
	margin-bottom:20px;
}
.my-like .table .image {
	width:150px;
}
.my-like .table .price {
	width:120px;
}
.my-like .table .status {
	width:120px;
}
.my-like .table .thumnail a {
	position:relative;
	display:block;
	height:130px;
	overflow:hidden;
}
.my-like .table .thumnail img{
	position:absolute; 
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
/* follow-List */
.follow-div li{
	border:1px solid #ddd;
}
.follow-div .myfollow-list:after{
	content:"";
	display:block;
	clear:both;
}
.follow-div .myfollow-list .follower{
	text-align:left;
}
.follow-div .myfollow-list .category{
	font-size:12pt;
	color:#ff7ab0;
}
.follow-div .myfollow-list .product-profile-info .profile {
	position:relative;
	display:inline-block;
	width:40px;
	height:40px;
	margin-left:10px;
	border-radius:100%;
	border:2px solid #f7f6fc;
	overflow:hidden;
}
.follow-div .myfollow-list .product-profile-info .profile img{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
}
.follow-product-list .follow-li{
	width: calc((100% - 30px*3)/3);
	margin-right: 30px;
	margin-bottom: 30px;
}
.follow-product-list .follow-li{
	float:left;	
}
.follow-div li .pimg {
	position:relative;
	width:100%;
	height:100px;
	overflow:hidden;
}
.follow-div li .pimg img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.follow-div .product-info-div {
    margin-left:20px;
}
.follow-div .list-tit{
	font-size:25pt;
	font-weight:bold;
}

@media all and (max-width:1400px) {
	
	
}

@media all and (max-width:768px) {
	.mydetail-form .inner {
		padding-left:0;
	}
	.mydetail-form .side-menu-div {
		position:relative;
		width:100%;
		margin-bottom:20px;
		overflow:hidden;
	}
	.mydetail-form .side-menu-div a {
		display:inline-block;
		width:auto;
		margin-right:10px;
		line-height:40px;
	}
	.mydetail-form .side-menu-div a:last-child {
		margin-right:0;
	}
	.mydetail-form .side-menu-div .swiper-wrapper {
		display:flex;
	}
	.mydetail-form .my-page {
		margin-bottom:0;
	}
	/* profile updateFrom */
	.myprofile-form .my-info input{
		width:100%;
		border-radius:5px;
		font-size:14pt;
	}
	.profile-msg{
		margin-bottom:25px;
		font-size:10pt;
	}
	/* unregister */
	.unregister-form {
		padding:0;
	}
	.unregister-form .unregi-image img{
		width:150px;
	}
	.unregister-form .unregi-message .unregi-msg1{
		font-size:16px;
	}
	.unregister-form .unregi-message .unregi-msg2{
		margin-top:5px;
		font-size:14px;
	}
	.unregister-form .unregi-question .unregi-ques{
		margin-top:40px;
		font-size:16px;
	}
	.unregister-form .unregi-question .unregi-reason{
		margin-top:5px;
		width:100%;
	}
	.unregister-form .unregi-question .btn .btn-add{
		margin-top:15px;
	}
	.unregister-form .unregi-question .btn .btn-list{
		margin-top:15px;
		margin-left:10px;
	}
	/* sellList */
	.sell-list .sell-list-condition #sell-status{
		width:150px;
		margin-top:5px;
		margin-bottom:15px;
	}
	.sell-list .myselling-list table .pimg{
		width:80px;
	}
	.sell-list .myselling-list table .psellstatus{
		width:70px;
	}
	.sell-list .myselling-list table .sell-list-tbody .simg img{
		width:60px;
		height:60px;
		margin-top:5px;
		margin-bottom:5px;
	}
	.sell-list .myselling-list table .sell-list-tbody .sstatus{
		font-size:14px;
	}
	.sell-list .myselling-list table .sell-list-tbody .stitle{
		margin-bottom:10px;
		font-size:16px;
	}
	/* productlike */
	.mylike-form .table .tit {
		font-size:16px;
	}
	.my-like > .tit {
		margin-bottom:10px;
	}
	.my-like .table .image {
		width:80px;
	}
	.my-like .table .price {
		width:80px;
	}
	.my-like .table .status {
		width:80px;
	}
	.my-like .table .thumnail a {
		height:80px;
	}

}
=======

@media all and (max-width: 1300px){
	
}

@media all and (max-width: 768px) {
	.mydetail-form .side-menu-div .swiper-wrapper {
		display:flex;
	}
}
>>>>>>> 09ea897e7b36753bf463d423982d1e80e9fcf103
