.wtable .content {
	height: 500px;
	margin-top: 10px;
}

.wtable .title {
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.utable .title{
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}




.utable .content{
	height: 500px;
	margin-top: 10px;
}


#ctable .content{
	height: 500px;
	
	
}

.contenttxt{
	vertical-align: baseline;
	colspan: 3;
}



div .btn-wrap{
	margin-top:15px;
	float:right;
}


.btn-wrap{
	
	margin-bottom: 10px;
}

