.require{
	color: #ff70b1;
	margin-left: 7px; 
}

.tit{
	width: 150px;
}

.group{
	margin-top: 20px;
}

.group:after{
	content:""; display:block; clear:both;
}

.child{
	float: left;
}

.content{
	width: 100%;
	height:200px;
}


.chooseImg{
	width: 180px;
}

.preshowImg{
	width: 180px;
	height: 180px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 2.3px solid #f7f6fc;
}

#img_show{
	width: 760px;
}

.profileImg{
	border-radius: 100%;
	width: 100px;
}

.bigImg{
	border: 2.3px solid #f7f6fc;
	width: 323px;
}

.smImgDiv{
	margin-top: 5px;
}

.smImg{
	width: 72.6px;
	margin-right: 10px;
	border: 2.3px solid #f7f6fc;
}

.info{
	position: absolute;
    left: 510px;
    top: 263px;
    width: 770px;
}

.relative{
	margin-top: 60px;
}

.detailContent{
	margin-top: 60px;
	height: 200px;
}
